.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    font-size: 2.4rem;
    padding: 0 2.5rem;

    .humburger {
        display: none;

        @include respond(md) {

            display: flex;
            flex-direction: column;
    
            img {
                margin: .3rem 0;
                height: .4rem;
            }
    
            img:first-child {
                width: 4rem;
            }
    
            img:nth-child(2) {
                width: 3rem;
            }
    
            img:last-child {
                width: 2rem;
            }
        }



    }

    &__logo {
        margin-left: -6rem;

        @include respond(md) {
            margin: 0;
            transform: translateX(-12%);
        }

        @include respond(xs) {
            margin: 0;
            transform: translateX(-11%);
        }
    }

    &__nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        font-style: italic;

        .active {
            font-weight: bold;
        }

        li {
            &:first-child {
                margin-right: 5rem;
            }
            
            a {
                color: black;
            }
        }

        @include respond(md) {
            display: none;
        }
        
    }

    @include respond(md) {
        padding: 0;
    }

    div:last-child {
        display: none;

        @include respond(md) {
            display: block;
        }
    }
}